body{
	background: url(../imagenes/fondo.gif) repeat scroll 0 100% transparent;
	width: 80%;	
/*	margin-left : auto;
	margin-right : auto;
	padding : 0px;*/
	margin: 0 auto;
    min-height: 100%;
    text-align: left;
/*    color: #2F2F2F;*/
/*    width: 970px;*/
	
}

.page {
	background-color:#24afe1;
    margin: 0 auto;
    min-height: 100%;
    text-align: left;
    width: 898px; 
}

.wrapper {
/*    background: url(../imagenes/fondo.gif) repeat-x scroll 0 100% transparent;*/
    min-height: 100%;
}


#cabecera_fina{
	background-image: url(../imagenes/fondo_menu.png);
	border-top-width: 0px; 
	border-bottom-width: 0px;
	width: 898px;
	height:4ex;
}

/*.form-search {
    background: none repeat scroll 0 0 transparent;
    height: 30px;
    margin: 50px 0 0 16px;
    left: 700px; 
    top: 99px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 271px;
}*/

#header {
	background-image: url(../imagenes/fondo.png);
	border-bottom-width: 0px;
    height: 172px;
    padding: 0 0 0 15px;
    width: 883px;
}

/*#header{
	background-image: url(../imagenes/fondo.png);
	border-bottom-width: 0px;
	height: 22ex;
}*/
#logotipo{
	background-image: url(../imagenes/logotransparente.png);
	width:110px;
	height: 100%;
	border-width: 0px;
	background-clip: border-box;
	float: left;
	clear:left;
}

#logo {
    float: left;
    padding: 10px 0 0 20px;
}

#logo h1 {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 5em;
    font-weight: normal;
    height: 160px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0 0 0 0;
}

#logo p {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-weight: normal;
    margin: -100px 0 0 2px;
    padding-top: 23px;
    text-transform: lowercase;
}

#logo a {
    color: #000000;
    display: block;
    text-decoration: none;
}

#columna_izquierda{
	background-color:#24afe1;
	float: left;
	min-height: 90ex;
	height: auto;
	width: 20%;
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}
#contenido{
	background-color: #FFFFFF;
	overflow: hidden;
	min-height: 90ex;
	height: auto;
	padding: 1.5ex;

	
}
#columna_derecha{
	background-color:  #24afe1;
	float:right;
	min-height: 90ex;
	height: auto;
	width: 20%;
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}

#cuerpo{
	min-height: 90ex;
	height: auto;
	width: 898px;
}

#pie{
	background-color:  RGB(255,255,153);
	clear: both;
	width: 898px; 
}

#reloj{
	background-color: transparent; 
	color: WHITE; 
	font-family: Verdana,Arial,Helvetica; 
	font-size: 8pt; 
	text-align: left; 
	padding-top: 7px; 
	padding-left: 8px;
/*	margin-top: 7px;*/
	float:left;
	border-width: 0px;
	width: 30%;
}

#divNombre{

 border:0;

	
}
#divUsuario{
 border:0;
}

#divApellidos{
	border:0;
}

#divPassword{
	border:0;
}

#divFecha{
	border:0;
}

#divCiudad{
	border:0;
}

#divCorreo{
	border:0;
}

#divTransparente{
	border: 3px solid;
	color:red;
	display: none;
	color=red;
}

#divmenuConJavascript{
    border:0;
	display: none;

}

#FechaCreaEvento{
	border:0;
}

#menu_inicio a {
	color: #23AFE2;
    float: right;
/*    margin-left: 527px;*/
    padding-right: 30px;
    padding-top: 2px;
    text-align: center;
    font-weight:bolder;
    display: block;
    text-decoration: none;
}
#menu a {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    padding-top: 7px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 105px;
}

.boton{
	width: 100%; 
	height:3em;
	
}

.video{
	width:100%; 
	height:360px;
}
